<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty Sims</h1>
	<br />
	<p>
		Splurty Sims was built by <a target="_blank" href="https://github.com/kindlingscript">Rebecca</a>, a junior web developer-in-training. The Sims is copyright of Electronic Arts.
	</p>
	<br />
	<p>
		If you wish to purchase a Sims game, visiting their <a target="_blank" href="http://www.thesims.com/">official website</a> might be a good start to creating your own wacky (and maybe sometimes dark) adventures with them!
	</p>


	<br />
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'rebecca.png', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Rebecca Taylor</h2>
		<br />
		<p>
			Rebecca Taylor is a junior web developer-in-training under theFirehoseProject. She graduated with a bachelor's in psychology from <a target="_blank" href="http://wku.edu">Western Kentucky University</a> in 2015. 
		</p>
		<p>
			Upon self-reflection, she thought that she'd probably not make the best counselor after further education in that field. Instead, with her desire to help others along with her strengths in writing and strong interest in computer applications, she realized that she would be better suited to a career in web (and possibly later, game) development.
		</p>
		<p>
			At the moment, she lives near Nashville, TN. Besides web development, psychology, and video games, she also enjoys longboarding, board games such as Ticket to Ride &amp; Forbidden Island, as well as photography.
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />