<h2>
	<span>SPLURTY SIMS / <%= @quote.unique_tag %></span>
	You know your Sims experience is wacky (and maybe a bit dark, too) when you...
</h2>

<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>
